<head>
    <title>やること</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="header">
      <nav class="nav">
        <ul class="header_menu">
           <li class="nav-link"><%= current_user.name %>ちゃん</li>
          <li class="header_menu_title"><%= link_to"やること", root_path, class: "nav-link" %></li>
          <li>
            <ul class="header_menu_inner">
              <li>
                <%= link_to new_list_path, class: "nav-link" do %>
                  <span class="mr-1">やることをかく</span>
                  <i class="fas fa-edit"></i>
                <% end %>
              </li>
              <li><%= link_to "バイバイ", destroy_user_session_path, class: "nav-link" ,method: :delete%></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>